<div class="title title-large u-margin-top-xl">
    <span style="text-align: center;" >CONTACT</span>
</div>
<div class="break-line "></div>
<!-- <div class="title-small u-margin-top-m"> -->
<div class="text-container">
    <span style="white-space: pre-line" class="subtitle title-medium">
        "One Day I will find the right words, and they will be simple."
    </span>
    <span style="white-space: pre-line" class="subtitle title-medium">
        - Jack Kerouac -
    </span>
</div>

<div class="link-list u-margin-top-l">
    <a href="https://www.instagram.com/recursive_reality/" class="link fa fa-instagram" ></a>
    <a href="https://www.linkedin.com/in/steven-woerpel-06b7a8170/" class="link fa fa-linkedin" ></a>
    <a href="https://github.com/swoerpel" class="link  fa fa-github" ></a>
    <a href="https://twitter.com/StevenWoerpel" class="link fa fa-twitter"></a>
</div>
<span style="white-space: pre-line" class="subtitle title-medium u-margin-top-l">
    steve.woerpel@gmail.com
</span>