:host{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 4rem;
}

.sketch{
    width: 400px;
    height: 400px;
    &:active{
        transform: translateY(5px);
    }
}