<div class="title title-large u-margin-top-xl">PROFILE</div>
<div class="break-line"></div>
<div class="title-small u-margin-top-m">Software Engineer and Digital Artist</div>

<div class="content u-margin-top-xs">
    <div class="content content__image">
        <img src="../../../assets/flordia_steve_square.jpg" alt="" class="image">
    </div>
    <div class="content content__details">
        <div class="title-medium">Details</div>
        <div class="text-content">
            <span style="white-space: pre-line"><strong>Name:</strong> Steven Woerpel</span>
            <span style="white-space: pre-line"><strong>Location:</strong> Milwaukee, WI, USA</span>
            <span style="white-space: pre-line"><strong>Age:</strong> 23</span>
        </div>
    </div>
    <div class="content content__about-me">
        <div class="title-medium dark">About Me</div>
        <div class="text-content">
            <span style="white-space: pre-line; text-indent: 5rem;" class="title-small">
                {{text.aboutMe.p1}}
            </span>

            <span style="white-space: pre-line; text-indent: 5rem;" class="title-small">
                {{text.aboutMe.p2}}
            </span>

            <span style="white-space: pre-line; text-indent: 5rem;" class="title-small">
                {{text.aboutMe.p3}}
            </span>
            
        </div>
    </div>
 
</div>
