<div class="title title-large u-margin-top-xl">
    <span style="text-align: center;" >EXPERIENCES</span>
</div>
<div class="break-line"></div>

<div class="list">
    <div class="title title-medium">EDUCATION</div>
    <div class="item">
        <div class="item item__title">
            <span style="white-space: pre-line" class="title title-small">
                <strong>University of Wisconsin</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                <strong>Platteville</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.platteville.date}}
            </span>
        </div> 
        <div class="item item__description">
            <span style="white-space: pre-line" class="title title-small">
                <strong>{{text.platteville.title}}</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.platteville.desc}}
            </span>
        </div> 
    </div>
</div>
    
<div class="list u-margin-bottom-xl">
    <div class="title title-medium">CAREER</div>
    <div class="item">
        <div class="item item__title">
            <span style="white-space: pre-line" class="title title-small">
                <strong>Advicent</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.advicent.date}}
            </span>
            
        </div> 
        <div class="item item__description">
            <span style="white-space: pre-line" class="title title-small">
                <strong>{{text.advicent.title}}</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.advicent.desc}}
            </span>
        </div> 
    </div>
    <div class="item">
        <div class="item item__title">
            <span style="white-space: pre-line" class="title title-small">
                <strong>UWP Tutoring Services</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.tutoring.date}}
            </span>
            
        </div> 
        <div class="item item__description">
            <span style="white-space: pre-line" class="title title-small">
                <strong>{{text.tutoring.title}}</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.tutoring.desc}}
            </span>
        </div> 
    </div>
    <div class="item">
        <div class="item item__title">
            <span style="white-space: pre-line" class="title title-small">
                <strong>Nextpoint</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.nextpoint.date}}
            </span>
            
        </div> 
        <div class="item item__description">
            <span style="white-space: pre-line" class="title title-small">
                <strong>{{text.nextpoint.title}}</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.nextpoint.desc}}
            </span>
        </div> 
    </div>
    <div class="item">
        <div class="item item__title">
            <span style="white-space: pre-line" class="title title-small">
                <strong>Plexus</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.plexus.date}}
            </span>
        </div> 
        <div class="item item__description">
            <span style="white-space: pre-line" class="title title-small">
                <strong>{{text.plexus.title}}</strong>
            </span>
            <span style="white-space: pre-line" class="title title-small">
                {{text.plexus.desc}}
            </span>
        </div> 
    </div>
</div>
    
