<div class="title title-large u-margin-top-xl">
    <span style="text-align: center;" >PROJECTS</span>
</div>
<div class="break-line"></div>


<div class="project u-margin-top-s u-margin-bottom-xl">
    <div class="project project__description">
        <span style="white-space: pre-line" class="subtitle title-small">
            <strong>{{text.snakePit.title}}</strong>
        </span>
        <span style="white-space: pre-line" class="subtitle title-small">
            {{text.snakePit.desc}}
        </span>
    </div>
    <div class="project project__images">
        <!-- <div class="project project__images project__images--row"> -->
            <img class="img" src="../../../assets/snake-pit-001.png" alt="">
            <img class="img" src="../../../assets/snake-pit-003.png" alt="">
            <img class="img" src="../../../assets/snake-pit-002.png" alt="">
        <!-- </div> -->
        <!-- <div class="project project__images project__images--row"> -->
            <img class="img" src="../../../assets/snake-pit-004.png" alt="">
            <img class="img" src="../../../assets/snake-pit-005.png" alt="">
            <img class="img" src="../../../assets/snake-pit-006.png" alt="">
        <!-- </div> -->
    </div>
</div>

<div class="project u-margin-top-s u-margin-bottom-s">
    <div class="project project__description">
        <span style="white-space: pre-line" class="subtitle title-small">
            <strong>{{text.cartographer.title}}</strong>
        </span>
        <span style="white-space: pre-line" class="subtitle title-small">
            {{text.cartographer.desc}}
        </span>
    </div>
    <div class="project project__images">
        <!-- <div class="project project__images project__images--row"> -->
            <img class="img img__maps" src="../../../assets/map-001.png" alt="">
            <img class="img img__maps" src="../../../assets/map-003.png" alt="">
            <img class="img img__maps" src="../../../assets/map-002.png" alt="">
        <!-- </div> -->
    </div>
</div>

<div class="project u-margin-top-s u-margin-bottom-s">
    <div class="project project__description">
        <span style="white-space: pre-line" class="subtitle title-small">
            <strong>{{text.twitterBot.title}}</strong>
        </span>
        <span style="white-space: pre-line" class="subtitle title-small">
            {{text.twitterBot.desc}}
        </span>
    </div>
    <div class="project project__images">
        <!-- <div class="project project__images project__images--row"> -->
            <img class="img" src="../../../assets/twitter-bot-005.png" alt="">
            <img class="img" src="../../../assets/twitter-bot-002.png" alt="">
            <img class="img" src="../../../assets/twitter-bot-004.png" alt="">
        <!-- </div>   -->
    </div>
</div>

<div class="project u-margin-top-s u-margin-bottom-xl">
    <div class="project project__description">
        <span style="white-space: pre-line" class="subtitle title-small">
            <strong>{{text.pokeball.title}}</strong>
        </span>
        <span style="white-space: pre-line" class="subtitle title-small">
            {{text.pokeball.desc}}
        </span>
    </div>
    <div class="project project__images">
        <!-- <div class="project project__images project__images--row"> -->
            <img class="img" src="../../../assets/pokeballs-001.png" alt="">
            <img class="img" src="../../../assets/pokeballs-002.png" alt="">
        <!-- </div> -->
        <!-- <div class="project project__images project__images--row"> -->
            <img class="img" src="../../../assets/pokeballs-003.png" alt="">
            <img class="img" src="../../../assets/pokeballs-009.png" alt="">
        <!-- </div> -->
        <!-- <div class="project project__images project__images--row"> -->
            <img class="img" src="../../../assets/pokeballs-005.png" alt="">
            <img class="img" src="../../../assets/pokeballs-006.png" alt="">
        <!-- </div> -->
    </div>
</div>