<div class="title title-large u-margin-top-xl">
    <span style="text-align: center;" >PROJECTS</span>
</div>
<div class="break-line"></div>


<div class="project u-margin-top-s u-margin-bottom-s">
    <div class="project project__description">
        <span style="white-space: pre-line" class="subtitle title-small">
            <strong>{{text.snakePit.title}}</strong>
        </span>
        <span style="white-space: pre-line" class="subtitle title-small">
            {{text.snakePit.desc}}
        </span>
    </div>
    <div class="project project__images">
    </div>
</div>

<div class="project u-margin-top-s u-margin-bottom-s">
    <div class="project project__description">
        <span style="white-space: pre-line" class="subtitle title-small">
            <strong>{{text.cartographer.title}}</strong>
        </span>
        <span style="white-space: pre-line" class="subtitle title-small">
            {{text.cartographer.desc}}
        </span>
    </div>
    <div class="project project__images">
    </div>
</div>

<div class="project u-margin-top-s u-margin-bottom-s">
    <div class="project project__description">
        <span style="white-space: pre-line" class="subtitle title-small">
            <strong>{{text.twitterBot.title}}</strong>
        </span>
        <span style="white-space: pre-line" class="subtitle title-small">
            {{text.twitterBot.desc}}
        </span>
    </div>
    <div class="project project__images">
    </div>
</div>

<div class="project u-margin-top-s u-margin-bottom-xl">
    <div class="project project__description">
        <span style="white-space: pre-line" class="subtitle title-small">
            <strong>{{text.calcutta.title}}</strong>
        </span>
        <span style="white-space: pre-line" class="subtitle title-small">
            {{text.calcutta.desc}}
        </span>
    </div>
    <div class="project project__images">
    </div>
</div>