<div class="title title-large u-margin-top-xl">
    <span style="text-align: center;" >ABILITIES</span>
</div>
<div class="break-line"></div>

<div class="container u-margin-top-s u-margin-bottom-xl">
    <div class="col">
        <div class="title-small u-margin-bottom-xs" ><strong>Skills</strong></div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - Angular </div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - JavaScript</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - TypeScript</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - Python</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9734; - CSS/SCSS</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9734; - NodeJS</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9734; - C/C++</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9734;&#9734; - React Native</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9734;&#9734; - Google Polymer</div>
        <div class="title-small" >&#9733;&#9733;&#9734;&#9734;&#9734; - Ruby On Rails</div>
    </div>
 
    <div class="col">
        <div class="title-small u-margin-bottom-xs" ><strong>Libraries</strong></div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - NGRX (Angular Redux)</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - RxJS (Lodash for events)</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - Google Maps (API)</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - Google Places (API)</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - P5JS (Graphics Library)</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - Highcharts (Charting Library)</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - PIL (Python Image Library)</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9734; - PaperJS (Graphics Library)</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9734;&#9734; - D3 (SVG Data Visualization)</div>
    </div>

    <div class="col">
        <div class="title-small u-margin-bottom-xs" ><strong>Tools</strong></div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - GIT</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - GIMP</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - Slack</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9733; - MS Teams</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9734; - Firebase</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9733;&#9734; - Jira</div>
        <div class="title-small" >&#9733;&#9733;&#9733;&#9734;&#9734; - Azure</div>
        
    </div>
  
</div>
    
