<div class="title title-large u-margin-top-xl">
    <span style="text-align: center;" >ABILITIES</span>
</div>
<div class="break-line"></div>

<div class="container u-margin-top-s u-margin-bottom-xl">
    <div class="col">
        <div class="title-small u-margin-bottom-xs" ><strong>Skills</strong></div>
        <div class="title-small" >Angular </div>
        <div class="title-small" >JavaScript</div>
        <div class="title-small" >TypeScript</div>
        <div class="title-small" >Python</div>
        <div class="title-small" >CSS/SCSS</div>
        <div class="title-small" >NodeJS</div>
        <div class="title-small" >C/C++</div>
        <div class="title-small" >React Native</div>
        <div class="title-small" >Google Polymer</div>
        <div class="title-small" >Ruby On Rails</div>
    </div>
 
    <div class="col">
        <div class="title-small u-margin-bottom-xs" ><strong>Libraries</strong></div>
        <div class="title-small" >NGRX (Angular Redux)</div>
        <div class="title-small" >RxJS (Lodash for events)</div>
        <div class="title-small" >Google Maps (API)</div>
        <div class="title-small" >Google Places (API)</div>
        <div class="title-small" >P5JS (Graphics Library)</div>
        <div class="title-small" >Highcharts (Charting Library)</div>
        <div class="title-small" >PIL (Python Image Library)</div>
        <div class="title-small" >PaperJS (Graphics Library)</div>
        <div class="title-small" >D3 (SVG Data Visualization)</div>
    </div>

    <div class="col">
        <div class="title-small u-margin-bottom-xs" ><strong>Tools</strong></div>
        <div class="title-small" >GIT</div>
        <div class="title-small" >GIMP</div>
        <div class="title-small" >Slack</div>
        <div class="title-small" >MS Teams</div>
        <div class="title-small" >Firebase</div>
        <div class="title-small" >Jira</div>
        <div class="title-small" >Azure</div>
        
    </div>
  
</div>
    
